<div class="dmsContainer flex justify-content-between">
    <!-- User List / Inbox -->
    <div *ngIf="isInboxVisible || !selectedUser || !isMobileView" class="user-list">

        <app-users-loading *ngIf="isUsersLoading"></app-users-loading>

        <div class="user" *ngFor="let user of friendsBlock" (click)="selectUser(user)" [hidden]="isUsersLoading">
            <img *ngIf="user[0].profileImg" [src]="user[0]?.profileImg" class="user-img">
            <img *ngIf="!user[0].profileImg || user[0].profileImg.length < 1" src="assets/image1.png" class="user-img">
            <div class="user-info">
                <p class="user-name">{{ user[0]?.name || 'username' }}</p>
                <p class="user-status">{{ user[0].id }}</p>
            </div>
        </div>
    </div>

    <!-- Chat Container -->
    <div *ngIf="(!isInboxVisible || selectedUser || !isMobileView) && selectedUser" class="chat-container">
        <div class="chat-header">
            <div class="headerItems flex align-items-center justify-content-between p-3">
                <div class="w-2 flex align-items-center gap-3">
                    <i (click)="toggleInboxView()" class="mobileBtn pi pi-angle-left ml-2 text-3xl"></i>
                    <img *ngIf="openedChat.profileImg" [src]="openedChat?.profileImg" class="profImg" alt="">
                    <img *ngIf="!openedChat.profileImg || openedChat.profileImg.length < 1" src="assets/image1.png"
                        class="profImg">

                    <div class="userName">
                        <p class="w-9rem">{{openedChat?.name || 'NaN'}}</p>
                    </div>
                </div>
                <div class="iconBtns m-4 flex gap-4">
                    <i class="pi pi-video text-2xl"></i>
                    <i class="pi pi-phone text-2xl"></i>
                </div>
            </div>
        </div>
        <div class="chat-body" [ngStyle]="{'scroll-behavior': isUserSelected ? 'smooth' : 'auto'}"  #chatBody>
            <div class="noMessage flex justify-content-center align-items-center">
                <h2 *ngIf="isMessages < 1" [hidden]="isChatLoading">Send something 😁</h2>
            </div>
            <div *ngFor="let skeleton of shuffledSkeletons" class="skeletonChat" [hidden]="!isChatLoading">
                <p-skeleton [width]="skeleton.width" [height]="skeleton.height" [styleClass]="skeleton.styleClass"
                    borderRadius="16px" />
            </div>
            <div *ngFor="let message of messages" class="message"
                [ngClass]="{'sent': isOwnMessage(message), 'received': !isOwnMessage(message)}"
                [hidden]="isChatLoading" style="    flex-direction:column-reverse;">

                <img [src]="message.images_url" alt=""
                    style="position: relative; width: 100%; margin-left: auto; border-radius: 20px;">
                {{ message.content }}

            </div>
        </div>
        <form *ngIf="selectedUser" [formGroup]="messageForm" (ngSubmit)="sendMessage()"
            class="chat-input flex align-items-center justify-content-center gap-4 w-full">

            <input pInputText style="border-radius: 30px; max-width: 30vh; width: 100%;" type="text"
                formControlName="content" placeholder="Type a message..." class="" [ngClass]="isImage ? 'hidden' : ''"
                (input)="checkFormStatus()" (input)="onInputChange()">

            <div class="custom-upload" *ngIf="isTextInputEmpty() || isImage">
                <i *ngIf="!isImage" class="pi pi-image text-2xl" (click)="fileInput.click()"
                    style="cursor: pointer;"></i>
                <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden>
                <div *ngIf="previewUrl" class="image-preview">
                    <img [src]="previewUrl" class="thumbnail" alt="Preview Image">
                    <i class="pi pi-times remove_img" (click)="removeImage(fileInput)"></i>
                </div>
            </div>
            <button type="submit" pButton [disabled]="!isFormValid()" class="send-button">Send</button>
        </form>
    </div>
</div>